<div class="how-it-works d-flex">
    <div class="step">
        <span class="number"><span>01</span></span>
        <span class="caption">Time &amp; Place</span>
    </div>
    <div class="step">
        <span class="number"><span>02</span></span>
        <span class="caption">Car</span>
    </div>
    <div class="step">
        <span class="number"><span>03</span></span>
        <span class="caption">Details</span>
    </div>
    <div class="step">
        <span class="number"><span>04</span></span>
        <span class="caption">Checkout</span>
    </div>
    <div class="step">
        <span class="number"><span>05</span></span>
        <span class="caption">Done</span>
    </div>

</div>