@model Price
@{
    ViewData["Title"] = "UpdatePrice";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h1>Araç Ödeme Planı Girişi</h1>

<form method="post">
    <input type="hidden" asp-for="PriceID" />
    <label>Araba</label>
    @Html.DropDownListFor(x=>x.CarID,(List<SelectListItem>)ViewBag.v,new {@class="form-control", @style="border:1px solid #2222"})
    <br />
    <label>Ödeme Planı Giriniz</label>
    <input type="text" asp-for="PriceType" class="form-control" style="border:1px solid #2222" />
    <br />
    <label>Tutarı Giriniz</label>
    <input type="text" asp-for="PriceValue" class="form-control" style="border:1px solid #2222" />
    <br />
    <button class="btn btn-success">Ödeme Planını Güncelle</button>
</form>