@model MyAcademyCarBook.EntityLayer.Concrete.CarDetail
@{
    ViewData["Title"] = "AddCarDetail";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h1>Yeni Detay Girişi</h1>

<form method="post">
    <label>Açıklama</label>
    <input type="text" asp-for="Description" class="form-control" style="border:1px solid #2222" />
    <label>Tarih</label>
    <input type="text" asp-for="CreatedDate" class="form-control" style="border:1px solid #2222" />
    <label>Araba</label>
    @Html.DropDownListFor(x=>x.CarID,(List<SelectListItem>)ViewBag.v,new {@class="form-control", @style="border:1px solid #2222"})
    <label>Yazar</label>
    @Html.DropDownListFor(x=>x.CarID,(List<SelectListItem>)ViewBag.v1,new {@class="form-control", @style="border:1px solid #2222"})
    <br />
    <button class="btn btn-primary">Detayları Kaydet</button>
</form>