<div class="container">
    <div class="row">
        <div class="col-lg-4 mb-4 mb-lg-0">
            <div class="testimonial-2">
                <blockquote class="mb-4">
                    <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, deserunt eveniet veniam. Ipsam, nam, voluptatum"</p>
                </blockquote>
                <div class="d-flex v-card align-items-center">
                    <img src="images/person_1.jpg" alt="Image" class="img-fluid mr-3">
                    <span>Mike Fisher</span>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4 mb-lg-0">
            <div class="testimonial-2">
                <blockquote class="mb-4">
                    <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, deserunt eveniet veniam. Ipsam, nam, voluptatum"</p>
                </blockquote>
                <div class="d-flex v-card align-items-center">
                    <img src="images/person_2.jpg" alt="Image" class="img-fluid mr-3">
                    <span>Jean Stanley</span>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4 mb-lg-0">
            <div class="testimonial-2">
                <blockquote class="mb-4">
                    <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, deserunt eveniet veniam. Ipsam, nam, voluptatum"</p>
                </blockquote>
                <div class="d-flex v-card align-items-center">
                    <img src="images/person_3.jpg" alt="Image" class="img-fluid mr-3">
                    <span>Katie Rose</span>
                </div>
            </div>
        </div>
    </div>

</div>