@model MyAcademyCarBook.EntityLayer.Concrete.CarCategory
@{
    ViewData["Title"] = "UpdateCarCategory";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h1>Kategori Güncelleme Sayfası</h1>

<form method="post">
    <input type="hidden" asp-for="CarCategoryID" />
    <label>Kategori Adı</label>
    <input type="text" asp-for="CategoryName" class="form-control" style="border:1px solid #2222" />
    <label>Açıklama</label>
    <input type="text" asp-for="Description" class=" form-control" style="border:1px solid #2222" />
    <label>Durum</label>
    <input type="text" asp-for="Status" class="form-control" style="border:1px solid #2222" />
    <br />
    <button class="btn btn-success">Markayı Güncelle</button>
</form>

